button {
  @include button-reset;
}

.button {
  line-height: 1;
  background-color: $clickable;
  padding: 1em 1.5em;
  border-radius: 6px;
  color: white;
  &:hover {
    background-color: $clickable-hover;
  }
}

button.button {
}
a.button {
  text-decoration: none;
}
