$red: #931621;
$slateblue: #6b93b1;
$green: #2c8c99;
$dgreen: #326771;
$turquoise: #42d9c8;
$pink: #f1c0b8;

$black: #0e1111;
$dgray: #4a5053;
$gray: #9ea7ad;
$lgray: #9eafb2;
$llgray: #dee2e2;

/* aliases */
$text: $dgray;
$text-light: $gray;
$error: $red;
$primary: $slateblue;
$secondary: $green;
$clickable: darken($pink, 10%);
$clickable-hover: darken($clickable, 15%);
