$red: #931621;
$indigo: #28464b;
$green: #2c8c99;
$dgreen: #326771;
$turquoise: #42d9c8;

$black: #0e1111;
$dgray: #4a5053;
$gray: #7a8185;
$lgray: #9eafb2;
$llgray: #dee2e2;

/* aliases */
$text: $dgray;
$text-light: $gray;
$error: $red;
$primary: $indigo;
$secondary: $green;
$clickable: $lgray;
$clickable-hover: darken($lgray, 20%);
